.info{
    padding: 30px;
    background-color: #e7eefb;
}

.info-first .info-images img{
    height: 400px;
    /* width: 300px; */

}
.info-first{
    display: flex;
    justify-content: space-between;
}

.info-first .info-images {
    display: flex;
    justify-content: center;
     border-radius: 50px;
     background: linear-gradient(137.44deg,#432344 33.66%,#8e3791 84.4%); 
    width: 50%;
    
}

.info-first .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    width: 50%;
    margin-left: 10px;
   
    
}

.info-text h2{
    color: #ffc03d;
    font-weight: 900;

}

.info-text p{
    font-weight: 600;
    color: #432344;
    text-align: center;
    margin-top: 20px;
}


@media all and (width <= 768px) {
    .info-first{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .info-images,.info-text{
        margin-top: 10px;
        font-size: 20px;
    }
  }